---
layout: default
title: Blog
description: Blogartikelen over noorderlicht en aurora-alerts.
permalink: /blog/
---

<section class="page-content">
  <div class="container">
    <h1 class="page-content__title">Blog</h1>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <p class="post-meta">
          {% if post.author %}door {{ post.author }} | {% endif %}
          {{ post.date | date: '%Y-%m-%d' }}
          {% if post.categories %} | {{ post.categories | join: ', ' }}{% endif %}
        </p>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 180 }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
